/*
CSS styles for page style tweaks, overriding bootstrap
*/
body{
  line-height: inherit;
}
<<<<<<< HEAD
.wepay-donations-progress-widget-wrapper>.label{
=======
.wepay-donations-progress-widget-wrapper .label{
>>>>>>> Updates responsive CSS, updates copy, adds Woopra
  line-height: inherit;
  display: block;
  padding: 2px 4px;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #333;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: transparent;

}
.wepay-donations-progress-widget-wrapper .wepay-donations-progress-widget {
  /*top: 15px;
  left: -32px;
  position: relative;*/
}
.pull-right {
 /* height: 335px;*/
}

#family-donation {
  /*scoop*/
}



#donate-container {
  float: left;
  height: 100px;
  width: 200px;
}

.stripe  {
  display:block;
  padding: 80px;
      }

.stripe.header {
        background-image:url('../img/header_low.jpg');
<<<<<<< HEAD
        background-repeat:no-repeat;
        background-position:left; 
        background-size: cover;
=======
        /* background-repeat:no-repeat;
        background-position:left; 
        background-size: cover; */
>>>>>>> Updates responsive CSS, updates copy, adds Woopra
      }

.stripe.donate {
        background-color:#eeeeee;
        position: relative;
      }

.stripe.faq {
        background-color:rgba(94, 146, 194, 0.38);
      }

.story {
        background-color: #dedede;
        background-color: rgba(207, 216, 224, 0.94);
        padding: 25px;
        border: 1px;
        border-radius: 10px;
        max-width: 950px;
        width: 90%;
        min-height: 220px;
        margin: auto;
      }

.story-text {
      float: left;
      width: 55%;
      }

.family-photo img {
  width: 400px;
  margin-right:30px; 
  margin-top: 30px;
  border:1px #ccc solid; 
  padding:5px; border-radius:4px;
}

.family-photo {
  float: right;
}

.donate:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0; 
  border: 25px solid;
}
 
.donate-bottom:after {
  border-top-color: #eeeeee;
  border-bottom-color: rgba(94, 146, 194, 0) ;
  border-left-color: rgba(94, 146, 194, 0);
  border-right-color: rgba(94, 146, 194, 0);
  top: 100%;
  left: 50%;
  margin-left: -25px;   
}
 
.martin {
        border: 1px solid gray;
        border-radius: 10px;
        float: left;
        margin-right: 20px;
        margin-top: 15px;
      }

.martin img {
  width: 200px;
}

.share-buttons {
  margin-top: 45px;
  text-align:center
}

.donations-container {
  width: 55%;
}

.make-donation {

    float:left;
}

        .mobile-only {
          display: none;
        } 

.clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
       
.clearfix {
        display: inline-block;
      }
       
html[xmlns] .clearfix {
        display: block;
      }
       
* html .clearfix {
        height: 1%;
      }

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

/* Responsive settings */

@media (min-width: 801px) and (max-width: 1080px) {
          body {
          padding-right: 0px !important;
          padding-left: 0px !important;
        }
        .stripe  {  
        padding: 70px;
      }

      .family-photo img {
      display: none;
      }
      .donations-container {
      width: 100%;
      }
      .story-text {
        float: none;
        width: 100%;
      }

      } 

@media (min-width: 500px) and (max-width: 800px) {

          body {
          padding-right: 0px !important;
          padding-left: 0px !important;
        }

        .stripe {
        display: block;
        padding: 30px;
        }

        .martin {
          float: none;
        }

        .mobile-only {
          display: block;
        } 

        .story-text {
        float: none;
        width: 100%;
      }

      .family-photo {
      float: none;
      width: 100%;
        }

      .make-donation {
      float:none;
      }

      .share-buttons {
      margin-top:0;
      text-align:center;
    }

      .martin img  {
      width: 100%;
      }
      .family-photo img {
      display: none;
      }

}


    

@media (max-width: 499px) {
        body {
          padding-right: 0px !important;
          padding-left: 0px !important;
        }

        .lead {
        margin-bottom: 20px;
        font-size: 3em;
        font-weight: 200;
        line-height: 40px;
        }

        .stripe {
        display: block;
        padding: 30px;
        }

        .martin {
          float: none;
        }

        .mobile-only {
          display: block;
        } 

        .story-text {
        float: none;
        width: 100%;
      }

      .family-photo {
      float: none;
      width: 100%;
        }

      .make-donation {
      float:none;
      }

      .share-buttons {
      margin-top:0;
      text-align:center;
    }

      img .martin {
      width: 100%;
}

      }

@media aspect-ratio {

      h2 {
        font-size: 3.5em !important;
      }

        .lead {
        margin-bottom: 20px;
        font-weight: 200;
        line-height: auto;
        font-size: 3em;
        }
    }

@media aspect-ratio {

      h2 {
        font-size: 3.5em !important;
      }

        .lead {
        margin-bottom: 20px;
        font-weight: 200;
        line-height: auto;
        font-size: 3em;
        }
}
